
@model PMS.DTO.ViewModels.UserManageViewModels.ChangePasswordVM

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.oldpassword, "Old Password")
            @Html.PasswordFor(m => m.oldpassword, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(m => m.oldpassword,null, new { @class = "text-danger" })

        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.newpassword, "New Password")
            @Html.PasswordFor(m => m.newpassword, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(m => m.newpassword, null, new { @class = "text-danger" })

        </div>
    </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password")
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })

        </div>
    </div>
    <div class="row col-md-offset-2 col-md-10">

        <div class="form-group">
            <input type="submit" value="Change password" class="btn btn-themyriad " />
        </div>
    </div>
}
