
@using PMS.Common.Classes

@{
    ViewBag.Header = "Persons";
    ViewBag.HeaderDescription = "Import from excel";
    ViewBag.Title = "Import from excel | PMS";
}

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"></h3>
    </div>
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div>
        <div class="box-body">
            @if (ViewBag.error != null)
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    @ViewBag.error
                </div>
            }@if (ViewBag.success != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                    @ViewBag.success
                </div>
            }


            <div class="col-sm-12 " style="margin-bottom:30px ; padding:0px;">
                <div class="input-group-btn">
                    <a href="@Url.Action("Persons", "PersonManage")" class="btn btn-themyriad"><i class="fa fa-plus" style="padding-right: 5px;"></i> All Person List</a>
                </div>
            </div>

            <div style="overflow: auto; width:100%">

                <table id="persons-table" class="table table-bordered table-striped">

                    <thead>

                        <tr>
                            <th>Status</th>
                            <th>Reason</th>
                            <th>Title</th>
                            <th>Full Name</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var person in ViewBag.NotSavedPersons as List<PMS.DTO.ViewModels.PersonManageViewModels.AddPersonVM>)
                        {
                            <tr>
                                <td><span class='label label-danger'>Failed</span></td>
                                <td>@person.ImportError</td>
                                <td>@person.Title</td>
                                <td>@person.FullName</td>
                                <td>@person.Gender</td>
                                <td>@person.Email</td>
                                <td>@person.Phone</td>
                            </tr>
                        }

                        @foreach (var person in ViewBag.SavedPersons as List<PMS.DTO.ViewModels.PersonManageViewModels.AddPersonVM>)
                        {
                            <tr>
                                <td><span class='label label-success'>Success</span></td>
                                <td>-</td>
                                <td>@person.Title</td>
                                <td>@person.FullName</td>
                                <td>@person.Gender</td>
                                <td>@person.Email</td>
                                <td>@person.Phone</td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Status</th>
                            <th>Reason</th>
                            <th>Title</th>
                            <th>Full Name</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Phone</th>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>
    </div>
</div>


@section scripts{

    <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" type="text/javascript"></script>

    <script>
        //$(function () {
        //    $('#persons-table').DataTable({

        //    });
        //})

        $(function () {
            $('#persons-table').DataTable({
                "scrollY": "70vh",
                "scrollCollapse": true,
                "scrollX": "auto",
                "iDisplayLength": 100,
                dom: 'Blfrtip',
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                buttons: [
                    'excelHtml5',
                ],
            });
        })


    </script>
}
