@model PMS.DTO.ViewModels.BedSpacePlacementViewModels.BedSpacePlacementMigrationVM


@{
    ViewBag.Header = "Swap Bed Space Placements";
    ViewBag.HeaderDescription = "Swap BedSpace Placements";
    ViewBag.Title = "Swap BedSpace Placements | PMS";
}

@section styles{
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Assets/bower_components/select2/dist/css/select2.min.css">
}



<div class="box box-danger">

    @{

        <div class="box-header with-border">
            <div class="input-group-btn">
                <a href="@Url.Action("PlacementsList", "BedSpacePlacement")" class="btn btn-themyriad"><i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i> All Placements</a>
            </div>
        </div>

    }

    <!-- form start -->
    @using (Html.BeginForm("BedSpacePlacementMigration", "BedSpacePlacement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.PlacementId)


        <div class="box-body">
            @if (ViewBag.error != null)
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    @ViewBag.error
                </div>
            }
            @if (ViewBag.success != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                    @ViewBag.success
                </div>
            }

            <div class="row col-md-12">
                <div class="col-md-6">
                    <div class="form-group">

                        @Html.LabelFor(x => x.BedSpaceId)
                        @Html.DropDownList("BedSpaceId", null, "-- Bed Space --", htmlAttributes: new { @class = "form-control select2", @required = "required" })
                        @Html.ValidationMessageFor(x => x.BedSpaceId)

                    </div>
                </div>

                @if (Model.LocationId == (int)PMS.Common.Classes.Enumeration.LocationEnum.Dubai && Model.IsCheckedIn)
                {
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.EncoderNumber, "Encoder Number")
                            @Html.TextBoxFor(x => x.EncoderNumber, new { @class = "form-control", placeholder = "Enter Encoder Number", @required = "required" })
                            @Html.ValidationMessageFor(x => x.EncoderNumber)
                        </div>
                    </div>
                }

                @Html.HiddenFor(x => x.LocationId)

                <div class="row">
                    <div class="col-md-12 form-group">
                        @Html.LabelFor(x => x.Remarks)
                        @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control", placeholder = "Special Request", @required = "required" })
                        @Html.ValidationMessageFor(x => x.Remarks)

                    </div>

                </div>


            </div>


        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <input type="submit" class="btn btn-themyriad" value="Save">
        </div>
    }
</div>

<div class="card">
<div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title">Room swap history for this placement</h3>
    </div>


        <div class="box-body">
            <div style="overflow: auto; width:100%;white-space:nowrap;">
                <table class="table table-bordered table-striped data-table">
                    <thead>
                        <tr>
                            <th>Old Bed Space</th>
                            <th>New Bed Space</th>
                            <th>Remarks</th>
                            <th>Swaped By</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PlacementHistory)
                        {
                            <tr>
                                <td>@item.OldBedSpace</td>
                                <td>@item.NewBedSpace</td>
                                <td>@item.Remarks</td>
                                <td>@item.CreateBy</td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy H:mm:s")</td>

                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
        </div>
        </div>


