@model IEnumerable<PMS.DTO.ViewModels.ContractViewModels.StudentConractsListVM>

@{
    ViewBag.Header = " Contracts Signed";
    ViewBag.HeaderDescription = "All Student Contracts Signed";
    ViewBag.Title = "All Student Contracts | PMS";

}

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"></h3>
    </div>
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div>
        <div class="box-body">
            @if (ViewBag.error != null)
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    @ViewBag.error
                </div>
            }

            @if (ViewBag.success != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                    @ViewBag.success
                </div>
            }


            @*<div class="col-sm-12 " style="margin-bottom:30px ; padding:0px;">
                    <div class="input-group-btn">
                        <a href="@Url.Action("AddContracts", "ContractsManage")" class="btn btn-themyriad"><i class="fa fa-plus" style="padding-right: 5px;"></i> Add New Contract</a>
                    </div>
                </div>*@

            <div style="overflow: auto; width:100%">

                <table class="table table-bordered table-striped data-table">

                    <thead>

                        <tr>
                            <th>Person Id</th>
                            <th>Full Name</th>
                            <th>Contract Name</th>
                            <th>Status</th>
                            <th>Created Date</th>
                            <th>Created By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contract in Model)
                        {
                            <tr>
                                <td>@contract.PersonCode</td>
                                <td>@contract.PersonFullName</td>
                                <td>@contract.ContractName</td>
                                <td><span class='text-success label label-danger'>Pending</span></td>
                               

                                <td>@contract.CreatedOn.ToString("dd/M/yyyy")</td>
                                <td>@contract.CreatedBy</td>
                                <td>
                                    @using (Html.BeginForm("ContractDownloadPdf", "ContractsManage", new { id = contract.Id, type = "Studentcontract" }, FormMethod.Post, new { id = "revertCancelBookingForm " + contract.Id, style = "display:inline-block" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a title="Download Contract Editor Template" href="javascript:document.getElementById('revertCancelBookingForm @contract.Id').submit()"><i class="fa fa-download"></i></a>
                                    }

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal_div" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>

@section scripts{
    <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.11.3/sorting/date-euro.js"></script>

    <script>
        $(function () {
            //$('.data-table').DataTable({ "targets": [0], "searchable": false, "orderable": false, "visible": true });
            $('.data-table').DataTable({
                "scrollY": "70vh",
                "scrollCollapse": true,
                "scrollX": "auto",
                dom: 'Blfrtip',
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                buttons: [
                    'excelHtml5',
                ],
                columnDefs: [
                    {
                        "targets": [0, -1], //first column / numbering column
                        "orderable": false, //set not orderable
                    },
                    { type: 'date-euro', targets: 4 },

                ]
            });
        })

    </script>
}
